[D-BUS Service]
Name=org.lingmo.LastoreSessionHelper1
Exec=/usr/lib/deepin-daemon/dde-session-daemon
SystemdService=org.lingmo.session.Daemon1.service
